<!DOCTYPE html>
<html>
    {% include head.html %}

    <body id="page-top" class="index">
    
    <!-- First, the top menu: -->
    {% include nav.html %}

    {% include content-hero.html %}

    
    <!-- BLOG CONTENT GOES HERE.
    Usual nav + a title, big pic, links on the side. To be designed! -->
    {% include newsfeed.html %}


    <!-- A footer menu including all kinds of information: -->
    {% include footer.html %}


    <!-- Finally, the JS libraries relevant to this site: -->
    {% include js.html %}

    </body>
</html>
