// These are the styles for the roundels for the feature section, and for social buttons.

.feature-section {
	background: #f7f7f7;
	padding: 60px 0;
}

.feature {
	text-align: center;
}

.roundel {
	text-align: center;
	height: 6em;
	width: 6em;
	border-radius: 50%;
	background-color: $teal-01;
	opacity: 0.7;
	margin: 0 auto;
	&:hover {
		background-color: $teal-main;
		opacity: 0.7;
		transition: 0.5s;
	}
}

.over {
	color: #000;
	font-size: 3em;
	margin-top: 25%;
	opacity: 1.0;
	// margin-left: -12.5%;
}

