// Footer styles

.footer-ul {
	list-style: none;
	padding: 0;
	> li {
		> i.ul-icon {
			color: $grey-light-01;
			font-size: 1em;
			padding-right: 1em;
			display: inline-block;
			// vertical-align: middle;
		}
		> a {
			@include normal-body-text;
			font-size: .9em;
			color: $white;
			opacity: 0.3;
			text-decoration: none;
			display: inline-block;
			// vertical-align: middle;
			&:hover {
				opacity: 1;
				transition: .5s;
				> i {
					color: aqua;
				}
			}
		
	}
}
}

.social-button {
	height: 3em;
	width: 3em;
	border-radius: 50%;
	background-color: $teal-01;
	display: inline-block;
	margin: 10px;
	text-align: center;
	transition: 0.5s ease-out;
	i {
		color: $grey-dark-03;
		margin-left: -12.5%;
		font-size: 1.6em;
		margin-top: 35%;
		margin-left: 25%;
		transition: 0.25s ease-out;
		
	}
	&:hover {
		background-color: rgba($teal-01, 0.5);
		transition: 0.5s ease-in;
		i {
			color: $grey-light-01;
			transition: 0.25s ease-in;
			opacity: 1;
		}
	}
}

.social-list {
	padding: 0;
	list-style: none;
}