// This makes the grid boxes sit nicely next to one another:
* {
    box-sizing: border-box;
}

// This is the width of the columns, it's 100%/12*number of columns:
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

// This adds a border so we can see wtf is up:
[class*="col-"] {
    float: left;
    padding: 15px;
    // border: 1px solid red;
}

// This clears the content after each row. Important if you want things to flow properly:
.row::after {
    content: "";
    clear: both;
    display: table;
}

// ================================================
// MEDIA QUERIES
// ================================================

// These are based on em measures because those are more stable than pixel measures for triggering (it's true!)
// 1em = 16px. I commented out the original pixel measures after converting them so there wouldn't be any confusion.


/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 20em) 
and (max-device-width : 30em) {
// and (min-device-width : 320px) 
// and (max-device-width : 480px) {
/* Styles */
	background-color: $black;
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 20.01em) {
// and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 20em) {
// and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 48em) 
and (max-device-width : 64em) {
// and (min-device-width : 768px) 
// and (max-device-width : 1024px) {
/* Styles */
	background-color: $yellow;
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 48em) 
and (max-device-width : 64em)
and (orientation : landscape) {
// and (min-device-width : 768px) 
// and (max-device-width : 1024px) 
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 48em) 
and (max-device-width : 64em)
and (orientation : portrait) {
// and (min-device-width : 768px) 
// and (max-device-width : 1024px) 
// and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 76.5em) {
// and (min-width : 1224px) {
/* Styles */
	background-color: red;
}

/* Large screens ----------- */
@media only screen 
and (min-width : 114em) {
// and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}