// These are the styles for the component page parts.

.hero-image {
	padding: 0;
	// height: 300px;
	background-size: cover;
	background-position: 50% 50%;
	> img {
		width: 100%;
		z-index: 99;
	}
}

.content-hero { // styles for the top row
	// height: 15em;
	padding: 0;
	margin: 0;

}

.content-hero-image {
	background: url("../images/hero.jpg");
	background-attachment: fixed;
	height: 15em;
	width: 100%;
	background-position: top;
	padding: 0;
	margin-top: -1.69em;
	background-size: cover;
	background-position: 50% 50%;
	> img {
		width: 100%;
		// height: auto;
		
	}
}

.content-hero-title {
	@include title-text-bold;
	padding-top: 2.5em;
	font-size: 2.5em;
	color: $white;
}

.content-hero-strapline {
	@include body-text;
	// margin: 0 auto;
	text-align: center;
	font-size: 1.7em;
	margin-top: -0.6em;
}

.parallax {
  background-attachment: fixed;
}

.row {

}

.nav-item {
	display: inline;
}

.spacing-2 {
	height: 2em;
	width: 100%
}

.spacing-4 {
	height: 4em;
	width: 100%
}



//////// FRONT PAGE PROJECT HANDLING ////////

.project {
	> img {
		width: 100%;
		height: auto;
	}
}




//////// FOOTER STYLES ////////

.footer {
	padding-top: 40px;
	background-color: #2f2f2f;
	height: 100%;
	.footer-logo {
		height: 100px;
		opacity: .4;
	}
}