//////// NEWS LAYOUTS ////////

.news-image {
		text-align: center;
	> img {
		margin: 0 auto;
		width: 80%;
		height: auto;
	}
	height: 100%;
}

h3.news-title a {
	@include title-text;
	font-size: 1.5em;
	font-weight: bolder;
	color: rgba(0, 0, 0, 0.7);
	&:hover {
		color: $teal-main;
		opacity: 0.6;
	}
}