<div class="topnav" id="myTopnav">
	<section class="top-bar-section">
      <span class="nav-logo"></span>
      <ul class="right nav-item">
        {% for item in site.data.nav %}
          {% if item.section_id == page.section_id %}
            {% assign active_class = "active" %}
          {% else %}
            {% assign active_class = "" %}
          {% endif %}
        <li class="{{active_class}} nav-item">
              <a href="{{site.url}}/{{ item.path }}">{{ item.name }}</a>
        </li>
        {% endfor %}
	     <li><a href="javascript:void(0);" class="nav-icon" onclick="myFunction()">&#9776;</a></li>
  </ul>
</section>
</div>